*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;

    @include respond(tab-land) {
        font-size: 56.25%; //1rem = 9px
    }

    @include respond(tab-port) {
        font-size: 50%; //1rem = 8px
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12px
    }
}

body {
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}

/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
